$primary: #000;

$dark: #000000 !default;

/* FOOTER */
footer {
  background-color: #303030;
  background-image: url("/images/texture.png");
  padding: 1rem !important;
  min-height: initial !important;
}